@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat.woff); }
@font-face {
  font-family: Bebas;
  src: url(../fonts/bebasneueregular.woff); }
@font-face {
  font-family: BilliOhio;
  src: url(../fonts/BillyOhio.otf); }
@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/Helvetica-LT-Std-Bold-Condensed.ttf); }
@font-face {
  font-family: Lato;
  src: url(../fonts/latolight.woff); }
.container {
  max-width: 1700px;
  display: block;
  margin: 0 auto; }
  .container .header {
    display: flex;
    flex-flow: column;
    height: 965px;
    width: 100%;
    background-image: url(../img/head_bottom.png);
    background-size: cover; }
    .container .header .header__top {
      width: 100%;
      height: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container .header .header__top .header__logo {
        height: 130px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 60px; }
        .container .header .header__top .header__logo .header__logoTop {
          width: 52px;
          height: 52px;
          background-image: url(../img/logo.png);
          margin-bottom: 1px; }
        .container .header .header__top .header__logo .header__logoBottom {
          width: 150px;
          height: 55px; }
          .container .header .header__top .header__logo .header__logoBottom .header__text1 {
            display: flex;
            justify-content: center;
            height: 34px;
            width: 100%;
            font-family: Bebas;
            color: #fff;
            font-size: 34px;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 0; }
            .container .header .header__top .header__logo .header__logoBottom .header__text1 span {
              color: #cd0a2d; }
          .container .header .header__top .header__logo .header__logoBottom .header__text2 {
            display: flex;
            justify-content: center;
            height: 14px;
            font-family: Montserrat;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 0; }
      .container .header .header__top .header__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 250px; }
        .container .header .header__top .header__navigation ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          list-style-type: none;
          width: 700px;
          height: 100%; }
          .container .header .header__top .header__navigation ul a {
            text-decoration: none;
            color: #fff;
            font-family: Montserrat;
            height: 14px;
            text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
            text-transform: uppercase; }
      .container .header .header__top .header__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin-right: 45px; }
        .container .header .header__top .header__social a {
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 47px;
          height: 47px;
          text-decoration: none;
          font-size: 24px;
          border: 3px solid #fff;
          border-radius: 100%; }
    .container .header .header__moto {
      display: flex;
      flex-flow: column;
      align-items: center; }
      .container .header .header__moto h1 {
        display: flex;
        justify-content: center;
        width: 60%;
        font-family: BilliOhio;
        color: #fff;
        font-size: 96px;
        font-weight: 400;
        text-align: center; }
      .container .header .header__moto .header__motoImg {
        width: 946px;
        height: 576px;
        background-image: url(../img/motorcycle.png);
        background-size: cover;
        margin-top: -120px; }
  .container .wrap {
    display: flex;
    flex-flow: column;
    align-items: center; }
    .container .wrap .block1 .block1__wrap {
      width: 1200px;
      height: 650px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .container .wrap .block1 .block1__wrap .block1__expedition {
        width: 380px;
        height: 640px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        .container .wrap .block1 .block1__wrap .block1__expedition .block1__imgTop {
          width: 364px;
          height: 350px;
          background: url(../img/item1.png);
          position: relative; }
          .container .wrap .block1 .block1__wrap .block1__expedition .block1__imgTop p {
            font-family: Bebas;
            font-size: 20px;
            color: #fff;
            line-height: 1;
            position: absolute;
            left: 10px;
            bottom: 0; }
            .container .wrap .block1 .block1__wrap .block1__expedition .block1__imgTop p span {
              font-size: 46px; }
        .container .wrap .block1 .block1__wrap .block1__expedition .block1__textBottom {
          display: flex;
          flex-flow: column;
          align-items: center; }
          .container .wrap .block1 .block1__wrap .block1__expedition .block1__textBottom h4 {
            display: flex;
            width: 100%;
            font-family: HelveticaBold;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: -1.5px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 0; }
          .container .wrap .block1 .block1__wrap .block1__expedition .block1__textBottom p {
            font-family: Lato;
            font-size: 18px;
            font-weight: 900;
            line-height: 28px;
            letter-spacing: 0.5px;
            color: #676767; }
          .container .wrap .block1 .block1__wrap .block1__expedition .block1__textBottom button {
            width: 112px;
            height: 38px;
            margin-top: 20px;
            border: none;
            border-radius: 19px;
            background-color: #cd0a2d;
            color: #ffffff;
            font-family: Bebas;
            font-size: 21px; }
      .container .wrap .block1 .block1__wrap .block1__tours {
        width: 380px;
        height: 640px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        .container .wrap .block1 .block1__wrap .block1__tours .block1__imgTop {
          width: 364px;
          height: 350px;
          background: url(../img/item1.png);
          position: relative; }
          .container .wrap .block1 .block1__wrap .block1__tours .block1__imgTop p {
            font-family: Bebas;
            font-size: 20px;
            color: #fff;
            line-height: 1;
            position: absolute;
            left: 10px;
            bottom: 0; }
            .container .wrap .block1 .block1__wrap .block1__tours .block1__imgTop p span {
              font-size: 46px; }
        .container .wrap .block1 .block1__wrap .block1__tours .block1__textBottom {
          display: flex;
          flex-flow: column;
          align-items: center; }
          .container .wrap .block1 .block1__wrap .block1__tours .block1__textBottom h4 {
            display: flex;
            width: 100%;
            font-family: HelveticaBold;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: -1.5px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 0; }
          .container .wrap .block1 .block1__wrap .block1__tours .block1__textBottom p {
            font-family: Lato;
            font-size: 18px;
            font-weight: 900;
            line-height: 28px;
            letter-spacing: 0.5px;
            color: #676767; }
          .container .wrap .block1 .block1__wrap .block1__tours .block1__textBottom button {
            width: 112px;
            height: 38px;
            margin-top: 20px;
            border: none;
            border-radius: 19px;
            background-color: #cd0a2d;
            color: #ffffff;
            font-family: Bebas;
            font-size: 21px; }
      .container .wrap .block1 .block1__wrap .block1__adventure {
        width: 380px;
        height: 640px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        .container .wrap .block1 .block1__wrap .block1__adventure .block1__imgTop {
          width: 364px;
          height: 350px;
          background: url(../img/item1.png);
          position: relative; }
          .container .wrap .block1 .block1__wrap .block1__adventure .block1__imgTop p {
            font-family: Bebas;
            font-size: 20px;
            color: #fff;
            line-height: 1;
            position: absolute;
            left: 10px;
            bottom: 0; }
            .container .wrap .block1 .block1__wrap .block1__adventure .block1__imgTop p span {
              font-size: 46px; }
        .container .wrap .block1 .block1__wrap .block1__adventure .block1__textBottom {
          display: flex;
          flex-flow: column;
          align-items: center; }
          .container .wrap .block1 .block1__wrap .block1__adventure .block1__textBottom h4 {
            display: flex;
            width: 100%;
            font-family: HelveticaBold;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: -1.5px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 0; }
          .container .wrap .block1 .block1__wrap .block1__adventure .block1__textBottom p {
            font-family: Lato;
            font-size: 18px;
            font-weight: 900;
            line-height: 28px;
            letter-spacing: 0.5px;
            color: #676767; }
          .container .wrap .block1 .block1__wrap .block1__adventure .block1__textBottom button {
            width: 112px;
            height: 38px;
            margin-top: 20px;
            border: none;
            border-radius: 19px;
            background-color: #cd0a2d;
            color: #ffffff;
            font-family: Bebas;
            font-size: 21px; }

/*# sourceMappingURL=style.css.map */
