@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat.woff);
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/bebasneueregular.woff);
}

@font-face {
    font-family: BilliOhio;
    src: url(../fonts/BillyOhio.otf);
}

@font-face {
    font-family: HelveticaBold;
    src: url(../fonts/Helvetica-LT-Std-Bold-Condensed.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/latolight.woff);
}

@font-face {
    font-family: LatoItalic;
    src: url(../fonts/Lato-MediumItalic.ttf);
}

.container {
    max-width: 1700px;
    display: block;
    margin: 0 auto; 
    .header {
        display: flex;
        flex-flow: column;
        height: 965px;
        width: 100%;
        background-image: url(../img/head_bottom.png);
        background-size: cover; 

        .header__top {
            width: 100%;
            height: 140px;            
            display: flex;
            justify-content: space-between;
            align-items: center;                       
            .header__logo {
                height: 130px;
                width: 180px;                   
                display: flex;  
                flex-direction: column; 
                align-items: center;
                justify-content: center;
                margin-left: 60px;
                    .header__logoTop {
                        width: 52px;
                        height: 52px;
                        background-image: url(../img/logo.png);
                        margin-bottom: 1px;                        
                    }

                    .header__logoBottom {
                        width: 150px;
                        height: 55px;

                        .header__text1 {
                            display: flex;
                            justify-content: center;
                            height: 34px;
                            width: 100%;
                            font-family: Bebas;
                            color: #fff;
                            font-size: 34px;                            
                            line-height: 1;
                            margin-top: 0;
                            margin-bottom: 0;
                            span {
                                color: #cd0a2d;
                            }
                        }  
                        
                        .header__text2 {
                            display: flex;
                            justify-content: center;
                            height: 14px;
                            font-family: Montserrat;
                            font-size: 14px;
                            color: #fff;
                            text-transform: uppercase;                                                        line-height: 1;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }                  
                
            }
            .header__navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 250px;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style-type: none;
                    width: 700px;
                    height: 100%;
                    
                    a {
                        text-decoration: none;
                        color: #fff;                        
                        font-family: Montserrat;
                        height: 14px;
                        text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
                        text-transform: uppercase;
                        
                    }
                }
            }
            .header__social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 300px;
                margin-right: 45px;
                a {
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 47px;
                    height: 47px;
                    text-decoration: none;
                    font-size: 24px;
                    border: 3px solid #fff;
                    border-radius: 100%;
                }
            }
        }

        .header__moto {
            display: flex;
            flex-flow: column;
            align-items: center;
           
            h1 {
                display: flex;
                justify-content: center;
                width: 60%;
                font-family: BilliOhio;
                color: #fff;
                font-size: 96px;
                font-weight: 400;
                text-align: center;
            }

            .header__motoImg {
                width: 946px;
                height: 576px;
                background-image: url(../img/motorcycle.png);
                background-size: cover;
                margin-top: -120px;
            }
        }
    }

    .wrap {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #ededed;
        .block1 {            
            .block1__wrap {
                width: 1200px;
                height: 650px;
                display: flex;
                justify-content: space-around;
                align-items: center;                
                .block1__expedition {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }

                }

                .block1__tours {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }
                }

                .block1__adventure {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }
                }

            }   
        }

        .block2 {
            height: 650px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            margin-top: 120px;   

            .block2__leftBlock{
                height: 587px;
                width: 50%;
                background-color: #cd0a2d;    
                display: flex;
                flex-flow: column;
                align-items: center;
                h2 {
                    display: flex;
                    width: 50%;
                    justify-content: flex-start;
                    font-family: Bebas;
                    font-size: 68px;
                    color: #fff;
                    font-weight: 400;                    
                    margin-top: 40px;
                    margin-bottom: 30px;
                }     
                .block2__text {
                    display: flex;
                    width: 50%;
                    flex-flow: column;
                    justify-content: flex-start;
                    align-items: flex-start;                                      

                    h4 {
                        display: flex;
                        width: 100%;
                        font-family: HelveticaBold;
                        font-size: 26px;
                        font-weight: 300;
                        letter-spacing: -1.9px;
                        color: #fff;                        
                        margin-top: 0;
                        margin-bottom: 10px;
                    }

                    p {
                        font-family: Lato;
                        font-size: 18px;  
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        color: #fff;                        
                        margin-top: 0;
                        margin-bottom: 30px;
                        opacity: 0.44;
                    }
                }                     
            }

            .block2__rightBlock{
                height: 587px;
                width: 50%;
                background-color: #fff;
                margin-top: 63px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-around;
                
                .block2__alex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin-top: 20px;
                    
                    .block2__alexImg {
                        min-width: 125px;
                        height: 125px;
                        border: 7px solid #dcdcdc;
                        border-radius: 100%;
                        background-image: url(../img/alex.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;                        
                    }

                    .block2__alexText {
                        
                        h3 {
                            display: flex;
                            align-items: center;
                            font-family: Bebas;
                            font-size: 48px;
                            font-weight: 400;
                            color: #5e5e5e;                            
                            margin-bottom: 0px;
                            margin-top: 10px;
                            span {
                                font-size: 26px;
                                padding-left: 15px;
                                color: #979797;
                            }
                        }

                        p {
                            display: flex;                        
                            width: 260px;
                            font-family: Lato;
                            font-size: 18px;
                            color: #040404;
                            line-height: 1.5;
                            letter-spacing: 0.5px;
                            font-weight: 600;                            
                            margin-bottom: 10px;
                        }
                    }
                }

                .block2__steve {
                    display: flex;
                    flex-flow: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    
                    .block2__steveImg {
                        min-width: 125px;
                        height: 125px;
                        border: 7px solid #dcdcdc;
                        border-radius: 100%;
                        background-image: url(../img/steve.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;                        
                    }

                    .block2__steveText {
                        
                        h3 {
                            display: flex;
                            align-items: center;
                            font-family: Bebas;
                            font-size: 48px;
                            font-weight: 400;
                            color: #5e5e5e;                            
                            margin-bottom: 0px;
                            margin-top: 10px;
                            span {
                                font-size: 26px;
                                padding-left: 15px;
                                color: #979797;
                            }
                        }

                        p {
                            display: flex;                        
                            width: 260px;
                            font-family: Lato;
                            font-size: 18px;
                            color: #040404;
                            line-height: 1.5;
                            letter-spacing: 0.5px;
                            font-weight: 600;                            
                            margin-bottom: 10px;
                        }
                    }
                }

                .block2__bill {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin-bottom: 20px;

                    .block2__billImg {
                        min-width: 125px;
                        height: 125px;
                        border: 7px solid #dcdcdc;
                        border-radius: 100%;
                        background-image: url(../img/bill.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;                        
                    }

                    .block2__billText {
                        
                        h3 {
                            display: flex;
                            align-items: center;
                            font-family: Bebas;
                            font-size: 48px;
                            font-weight: 400;
                            color: #5e5e5e;                            
                            margin-bottom: 0px;
                            margin-top: 10px;
                            span {
                                font-size: 26px;
                                padding-left: 15px;
                                color: #979797;
                            }
                        }

                        p {
                            display: flex;                        
                            width: 260px;
                            font-family: Lato;
                            font-size: 18px;
                            color: #040404;
                            line-height: 1.5;
                            letter-spacing: 0.5px;
                            font-weight: 600;                            
                            margin-bottom: 10px;
                        }
                    }
                }
                
            }

            .block2__img {
                width: 357px;
                height: 766px;
                background-image: url(../img/motorcycle_top.png);
                background-size: cover;
                margin-top: -70px;
                position: absolute;
            }
        }
        
        .block3 {
            height: 790px;
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;

            .block3__topText{
               display: flex;
               flex-flow: column;
               align-items: center;
               width: 50%;
               height: 150px;   
               margin-top: 120px;
              
               h3 {
                   font-family: Bebas;
                   font-size: 68px;
                   color: #000;
                   font-weight: 600;                   
                   margin-top: 0px;
                   margin-bottom: 0px;
                   span {
                    color: #cd0a2d;
                   }
               } 
               p {
                   font-family: Lato;
                   font-size: 18px;
                   color: #5d5c5c;
                   letter-spacing: 0.5px;
                   font-weight: 600;                   
               }           
            }

            .block3__bottomText {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 550px;
                width: 100%;
                

                .block3__traveller {
                    width: 570px;
                    height: 445px;
                    background-color: #fff;                    
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;

                    .block3__travellerWrap {
                        display: flex;                        
                        justify-content: center;
                        align-items: center;
                        .block3__travellerImg {
                            width: 69px;
                            height: 69px;
                            background-image: url(../img/john.png);
                            border-radius: 50px;                          
                            margin-right: 15px;
                        }
                        h4 {
                            font-family: Bebas;
                            font-size: 28px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                        }
                        p {
                            font-family: Bebas;
                            font-size: 20px;
                            letter-spacing: 0.21px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                        }
                    }

                    .block3__travellerText {
                        width: 70%;
                        font-family: LatoItalic;
                        font-size: 18px;
                        font-weight: 600;
                        color: #212121;
                        line-height: 26.67px;
                        text-align: center;

                    }
                }

                .block3__bottomSuit {
                    width: 405px;
                    height: 524px;
                    background-image: url(../img/motosuit.png); 
                    background-size: cover;    
                    margin-left: 125px;             
                }
            }

        }

        .block4 {
            height: 820px;
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            background-image: url(../img/map_world.png);
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #000;
            position: relative;

            .block4__topText {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 140px;
                color: #fff;
                margin-top: 70px;
                margin-bottom: 80px;
                outline: 1px solid red;
                

                h3 {
                    font-family: Bebas;
                    font-size: 68px;
                    font-weight: 600;
                    margin-top: 0;
                    margin-bottom: 0;
                    span {
                        color: #cd0a2d;
                    }
                }
                p {
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26.67px;
                    letter-spacing: 0.5px;
                    text-align: center;
                }
            }

            .block4__text {
                display: flex;
                justify-content: center;
                align-content: center;

                .block4__leftText {
                    width: 50%;
                    height: 530px;
                    background-color: #cd0a2d;
                    opacity: 0.75;
                    color: #fff;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    align-items: center;
                    .block4__leftTextWrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;
                        height: 130px; 

                        .block4__1000km {
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            h4 {
                                font-family: Bebas;
                                font-size: 55px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                                span {
                                    font-size: 29px;
                                }
                            }
                            p {
                                font-family: Bebas;
                                font-size: 29px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                            }
                        }

                        .block4__3000km {
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            h4 {
                                font-family: Bebas;
                                font-size: 87px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                                span {
                                    font-size: 46px;
                                }
                            }

                            p {
                                font-family: Bebas;
                                font-size: 45px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                            }
                        }               
                    }

                    .block4__bottomText {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60%;
                        height: 90px;                        

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 26.67px;
                            letter-spacing: 0.5px;
                            text-align: center;
                        }
                    }
                    
                }

                .block4__rightText {
                    width: 50%;
                    height: 530px;    
                    color: #fff;  
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    align-items: center;
                    .block4__rightTextWrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;
                        height: 160px;                         
                        margin-top: -20px;                     
                        .block4__1000km {
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            h4 {
                                font-family: Bebas;
                                font-size: 55px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                                span {
                                    font-size: 29px;
                                }
                            }
                            p {
                                font-family: Bebas;
                                font-size: 29px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                            }
                        }

                        .block4__50countries {
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            h4 {
                                font-family: Bebas;
                                font-size: 124px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;                                
                            }

                            p {
                                font-family: Bebas;
                                font-size: 45px;
                                font-weight: 500;
                                margin-bottom: 0px;
                                margin-top: 0px;
                                line-height: 1;
                            }
                        }               
                    }

                    .block4__bottomText {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60%;
                        height: 90px;                        

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 26.67px;
                            letter-spacing: 0.5px;
                            text-align: center;
                        }
                    }                
                }

            }

            .block4__img {
                width: 372px;
                height: 689px;
                background-image: url(../img/motorcycle_front.png);
                background-size: cover;                
                position: absolute;
                bottom: -125px;
            }
        }
    }
}

