@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat.woff);
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/bebasneueregular.woff);
}

@font-face {
    font-family: BilliOhio;
    src: url(../fonts/BillyOhio.otf);
}

@font-face {
    font-family: HelveticaBold;
    src: url(../fonts/Helvetica-LT-Std-Bold-Condensed.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/latolight.woff);
}

.container {
    max-width: 1700px;
    display: block;
    margin: 0 auto; 
    .header {
        display: flex;
        flex-flow: column;
        height: 965px;
        width: 100%;
        background-image: url(../img/head_bottom.png);
        background-size: cover; 

        .header__top {
            width: 100%;
            height: 140px;            
            display: flex;
            justify-content: space-between;
            align-items: center;                       
            .header__logo {
                height: 130px;
                width: 180px;                   
                display: flex;  
                flex-direction: column; 
                align-items: center;
                justify-content: center;
                margin-left: 60px;
                    .header__logoTop {
                        width: 52px;
                        height: 52px;
                        background-image: url(../img/logo.png);
                        margin-bottom: 1px;                        
                    }

                    .header__logoBottom {
                        width: 150px;
                        height: 55px;

                        .header__text1 {
                            display: flex;
                            justify-content: center;
                            height: 34px;
                            width: 100%;
                            font-family: Bebas;
                            color: #fff;
                            font-size: 34px;                            
                            line-height: 1;
                            margin-top: 0;
                            margin-bottom: 0;
                            span {
                                color: #cd0a2d;
                            }
                        }  
                        
                        .header__text2 {
                            display: flex;
                            justify-content: center;
                            height: 14px;
                            font-family: Montserrat;
                            font-size: 14px;
                            color: #fff;
                            text-transform: uppercase;                                                        line-height: 1;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }                  
                
            }
            .header__navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 250px;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style-type: none;
                    width: 700px;
                    height: 100%;
                    
                    a {
                        text-decoration: none;
                        color: #fff;                        
                        font-family: Montserrat;
                        height: 14px;
                        text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
                        text-transform: uppercase;
                        
                    }
                }
            }
            .header__social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 300px;
                margin-right: 45px;
                a {
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 47px;
                    height: 47px;
                    text-decoration: none;
                    font-size: 24px;
                    border: 3px solid #fff;
                    border-radius: 100%;
                }
            }
        }

        .header__moto {
            display: flex;
            flex-flow: column;
            align-items: center;
           
            h1 {
                display: flex;
                justify-content: center;
                width: 60%;
                font-family: BilliOhio;
                color: #fff;
                font-size: 96px;
                font-weight: 400;
                text-align: center;
            }

            .header__motoImg {
                width: 946px;
                height: 576px;
                background-image: url(../img/motorcycle.png);
                background-size: cover;
                margin-top: -120px;
            }
        }
    }

    .wrap {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #ededed;
        .block1 {            
            .block1__wrap {
                width: 1200px;
                height: 650px;
                display: flex;
                justify-content: space-around;
                align-items: center;                
                .block1__expedition {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }

                }

                .block1__tours {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }
                }

                .block1__adventure {
                    width: 380px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;                    
                    .block1__imgTop {
                        width: 364px;
                        height: 350px;
                        background: url(../img/item1.png);
                        position: relative;
                        p {
                            font-family: Bebas;     
                            font-size:  20px;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            left: 10px;
                            bottom: 0;
                            span {
                                font-size: 46px;
                            }
                        }
                    }

                    .block1__textBottom {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        h4 {
                            display: flex;
                            width: 100%;
                            font-family: HelveticaBold;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.5px;
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;                            
                        }

                        p {
                            font-family: Lato;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            color: #676767;
                        }

                        button {
                            width: 112px;
                            height: 38px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 19px;
                            background-color: #cd0a2d;
                            color: #ffffff;
                            font-family: Bebas;
                            font-size: 21px;
                        }
                    }
                }

            }   
        }

        .block2 {
            height: 650px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;   

            .block2__leftBlock{
                height: 587px;
                width: 50%;
                background-color: #cd0a2d;    
                display: flex;
                flex-flow: column;
                align-items: center;
                h2 {
                    display: flex;
                    width: 50%;
                    justify-content: flex-start;
                    font-family: Bebas;
                    font-size: 68px;
                    color: #fff;
                    font-weight: 400;                    
                    margin-top: 40px;
                    margin-bottom: 30px;
                }     
                .block2__text {
                    display: flex;
                    width: 50%;
                    flex-flow: column;
                    justify-content: flex-start;
                    align-items: flex-start;                                      

                    h4 {
                        display: flex;
                        width: 100%;
                        font-family: HelveticaBold;
                        font-size: 26px;
                        font-weight: 300;
                        letter-spacing: -1.9px;
                        color: #fff;                        
                        margin-top: 0;
                        margin-bottom: 10px;
                    }

                    p {
                        font-family: Lato;
                        font-size: 18px;  
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        color: #fff;                        
                        margin-top: 0;
                        margin-bottom: 30px;
                        opacity: 0.44;
                    }
                }                     
            }

            .block2__rightBlock{
                height: 587px;
                width: 50%;
                background-color: #fff;
                margin-top: 63px;
                display: flex;
                flex-flow: column;
                align-items: center;
                
            }

            .block2__img {
                width: 357px;
                height: 766px;
                background-image: url(../img/motorcycle_top.png);
                background-size: cover;
                margin-top: -70px;
                position: absolute;
            }
        }
        

    }
}

